@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  font-family: "KoPubWorld-Dotum";
}
select {
  border-bottom: 1px solid black;
}

input {
  width: 100%;
  height: 32px;
  border: 0px;
  border-bottom: 1px solid black;
  padding: 0 8px;
}

@layer components {
  .btn-brown {
    @apply w-4/5 h-[32px] border-0 bg-[#5F4B30] rounded text-white flex-shrink-0 hover:cursor-pointer;
  }
  .btn-red {
    @apply w-4/5 h-[32px] border-0 bg-[#EB5757] rounded text-white flex-shrink-0 hover:cursor-pointer;
  }

  .btn-gray {
    @apply w-4/5 h-[32px] border-0 bg-[#3d4451] rounded text-white flex-shrink-0 hover:cursor-pointer;
  }
}
